@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=IBM+Plex+Sans:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 25, 25, 0.836) ;
}

header .logo {
    position: relative;
    max-width: 80px;
    scale: 0.5;
   
}

header ul {
    position: relative;
    display: flex;
    
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    margin: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 100px;
    color: white;
}

p {
    font-size: 50px;
    color: white;
}

body
{
    background-image: url("bg2.png");
    background-size: 1920px;
    background-repeat: no-repeat;
}